<form>
    <button type="submit" formmethod="post">
        click this
    </button>
</form>
<a href="http://localhost:60545/Forum/"> href link forum</a>
<a href="https://localhost:44367/">href link blog</a>